{block #pageTitle}Editace plánu podlaží č. {$plan->floorNumber}{if $plan->name} - {$plan->name}{/if}{/block}

{block content}
<h3>{$building->name}, {$building->address}</h3>
<br>

{control map, "size"=>["100%","700px"]}
<hr>
<em>Body, ke kterým nevede žádná cesta se neuloží. <br>Cesty, které nejsou ukončeny bodem na obou koncích se neuloží.</em>
{control pointForm}
