{block #pageTitle}Správa metadat - podlaží {$floor->name}{/block}
{block #breadcrumbs}Metadata{/block}

{block #content}
    <h3>{$building->name}, {$building->address}</h3>

<h3>Revize</h3>

<hr>

<h3>Návrhy změn</h3>

<a n:href="proposal">Vytvořit návrh</a>