{var $icons=array(
            'Upravit' => 'pack/edit3-16x16.png',
            'Smazat' => 'pack/Delete_16x16.png',
            'Zobrazit' => 'pack/Preview_16x16.png',
            'Nastavit oprávnění' => 'pack/Key_16x16.png',
        )}
{var $level=array("first draggable","second","third","fourth",'fifth','sixth')}
{if !isset($i)}{var $i=0;}{/if}
<ul class="{$level[$i]}" n:inner-foreach="$data as $key => $value"> 
    <li id="list_{$value[$id]}"><div class="out"><div class="handle">&nbsp;</div><div class="in"><em style="color:#888" n:tag-if="isset($value['m_active']) && !$value['m_active']">{$value[$title]}</em> 
        <a n:foreach="$actions as $action" href="{plink $action['action'].'?id='.$value[$id]}">
            <img src="/images/icons/{$icons[$action['title']]}" title="{$action['title']}"></a></div></div>
    {if isset($value['children']) && $value['children']!= null}
        {include 'tree.latte', 'data'=>$value['children'],'i'=>$i+1}
    {/if}
        </li>
</ul>