#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        ldap:
            url: "ldap://ldap.fit.cvut.cz/ou=People,o=fit.cvut.cz"
        database:
            driver: mysqli
            dbname: navigator
            host: localhost
            user: root
            password:
            charset: utf8
            collation: utf8_czech_ci


    php:
        date.timezone: Europe/Prague
        # zlib.output_compression: yes
    nette:
        application:
            errorPresenter: Error


        session:
            expiration: 14 days
        services:
            presenterFactory:
                factory: Maps\Core\ServiceFactories::createPresenterFactory(%appDir%)


    services:
        authenticator: Maps\Model\User\LDAPAuthenticator(parameters.ldap.url)
        em: @doctrine.entityManager
        authorizator:
            factory: Maps\Model\ACL\Authorizator::getInstance

        ACLService: Maps\Model\ACL\Service
        UserService: Maps\Model\User\Service

    doctrine:
        connection: %database%
        entityManagers:
            default:
                entityDir: %appDir%/model
                proxyDir: %tempDir%
                proxyNamespace: Maps\Model\Proxies
                connection: default
                proxyAutogenerate: true
        repositoryClass: Maps\Model\Dao
        useSimleAnnotation: true
        console:
            entityManager: default
    factories:


production < common:

development < common:
