#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    includes:
        - services.neon
    parameters:
        ldap:
            server: "ldap.fit.cvut.cz"
            port: 389
            dn: "ou=People,o=fit.cvut.cz"
        database:
            driver: mysqli
            dbname: navigator
            host: localhost
            user: root
            password:
            charset: utf8
            collation: utf8_czech_ci
        google:
            apiKey: AIzaSyBWSy0-N3OFo6e_T10K3zOzHjXXGBuD1Z4


    php:
        date.timezone: Europe/Prague
        # zlib.output_compression: yes
    nette:
        application:
            errorPresenter: Error

        session:
            expiration: 14 days




    doctrine:
        connection: %database%
        entityManagers:
            default:
                entityDir: %appDir%/model
                proxyDir: %tempDir%
                proxyNamespace: Maps\Model\Proxies
                connection: default
                proxyAutogenerate: true
        debugger: Maps\Model\Persistence\ConnectionPanel
        repositoryClass: Maps\Model\Dao
        useSimleAnnotation: true
        console:
            entityManager: default


production < common:

development < common:
