#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:
        ldap:
            url: "ldap://ldap.fit.cvut.cz/ou=People,o=fit.cvut.cz"



    php:
        date.timezone: Europe/Prague
        # zlib.output_compression: yes
    nette:
        application:
            errorPresenter: Error

        database:
            dsn: 'mysql:host=localhost;dbname=navigator'
            user: root
            password:

        session:
            expiration: 14 days


    services:
        authenticator: LDAPAuthenticator(parameters.ldap.url)
        authorizator:
            factory: Authorizator::getInstance
        routerFactory: RouterFactory
        router: @routerFactory::createRouter

        ACLRepository: ACLRepository


    factories:


production < common:

development < common:
