nette:
    services:
        presenterFactory:
            factory: Maps\Core\ServiceFactories::createPresenterFactory(%appDir%)
services:
    authenticator: Maps\Model\User\LDAPAuthenticator(%ldap%)
    em: @doctrine.entityManager
    authorizator:
        factory: Maps\Model\ACL\Authorizator::getInstance

    ACLService: Maps\Model\ACL\Service
    UserService: Maps\Model\User\Service
    presenterTree: Kdyby\PresenterTree("Maps\\Presenter\\")
    doctrineEventSubscriber:
        class: Maps\Model\EntityEventsSubscriber
        tags: [doctrineEvent]
    doctrine_event_cache_subscriber:
        class: Maps\Core\CacheSubscriber
        tags: [doctrineEvent]

    tiles: Maps\Model\Floor\TilesService('data/tiles',%wwwDir%, 18,22)