{block #pageTitle}Nástěnka{/block}
{block #breadcrumbs}{/block}
{block #content}
    <h1>Moje návrhy</h1>
<a n:href="Building:default" class="btn btn-info">Vytvořit návrh</a>
{control myProposals}