<h2>Lokální účet:</h2>
{control form}
<div style="text-align: center;">
    <a href="{plink User:registration}">Registrace</a> - 
    <a href="{plink Sign:lostPwd}">Obnova hesla</a>
</div>
<hr>
<div style="text-align: center;">
    <a n:href="facebook!" style="display: inline-block; margin-bottom: 5px;"><img src="/images/facebook_login.png" title="Facebook Login" alt="Facebook Login"></a>
    <a n:href="twitter!" style="display: inline-block; margin-bottom: 5px;"><img src="/images/twitter_login.png" title="Twitter Login" alt="Twitter Login"></a>
    <a n:href="google!"><img src="/images/google_login.png" title="Google Login" alt="Google Login"></a>
</div>
