{block #pageTitle}Vložení role{/block}

{block #secondaryNav}
<li><a n:href="ACL:">Přehled</a></li>
<li class="active"><a n:href="ACL:add">Přidat roli</a></li>
{/block}

{block content}
{control editForm}