{block #pageTitle}Správa přístupových práv{/block}

{block #secondaryNav}
<li class="active"><a n:href="ACL:">Přehled</a></li>
<li><a n:href="ACL:add">Přidat roli</a></li>
{/block}

{block content}
{control rolesGrid}