{block pageTitle}Nahrání plánu - podlaží {$floor->name}{/block}
{block #breadcrumbs}Nahrát{/block}
{block #content}
<h3>{$building->name}, {$building->address}</h3>
<br>
<h2>Krok 1</h2>
{control formOne}