{block pageTitle}Plány podlaží {$floor->name}{/block}

{block #breadcrumbs}Plány{/block}

{block #content}
    <h2>{$building->name}, {$building->address}</h2>

<a n:href="add" class="btn btn-primary">Nahrát nový plán</a>
{control grid}