{block pageTitle}Umístění plánu - podlaží {$floor->name}{/block}

{block #breadcrumbs}Umístění{/block}

{block #content}
<h3>{$building->name}, {$building->address}</h3>
<br>
<h2>Krok 2</h2>
{control map, 'size'=>['100%','450px']}

{control georeferenceForm}
<script type="text/javascript">
    $(document).ready(function() {
        $("div[id$='-pair']").hide();
    });
</script>