
table.datagrid {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.datagrid thead th {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
table.datagrid p {
    margin: 0px;
}

tbody.datagrid {
    border-bottom: 1px solid #ddd;
}

tbody.datagrid tr {
    background: #fff;
}

table.datagrid tr.even {
    background: #f3f3f3;
}

table.datagrid td,
table.datagrid th {
    padding: 10px;
    line-height: 1.3em;
}

table.datagrid tfoot td .bulk-actions {
    padding: 15px 0 5px 0;
}

table.datagrid tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}
table.datagrid thead a{
    color:#555;
    text-decoration: none;
    float: left;
}
table.datagrid span.positioner {
    width: 22px;
    height: 16px;
    margin-right: 2px;
    display: block;
    float: left;
}
table.datagrid th span.positioner {
}
table.datagrid span.positioner a {
    line-height: 0px;
}
table.datagrid span.positioner a span {
    border: none;
    display: block;
    float: left;
    margin: 2px;
    width: 21px;
    height: 4px;
    opacity: 0.40;
=filter: alpha(opacity=40);
    padding-left: 0px !important;
}
table.datagrid span.positioner a span.up {
    background: url('/images/datagrid/asc.gif') no-repeat right center;
}
table.datagrid span.positioner a span.down {
    background: url('/images/datagrid/desc.gif') no-repeat right center;
}
table.datagrid span.positioner a span.down:hover, table.datagrid span.positioner a span.up:hover {
    opacity: 1;
=filter: alpha(opacity=100);
}
table.datagrid span.positioner a.active span, table.datagrid span.positioner a.active span:hover {
    opacity: 1;
=filter: alpha(opacity=100);
    cursor: default;
}
table.datagrid span.positioner a.inactive span, table.datagrid span.positioner a.inactive span:hover {
    background: none !important;
    cursor: default;
}
table.datagrid tr.filters {
    border-bottom: 1px solid #DDD;
}
table.datagrid tr.filters input[type=text], table.datagrid tr.filters select {
    width: 100%;
    padding: 3px;
}
table.datagrid tr.filters, table.datagrid tr.filters td {
    padding: 3px 6px !important;
}
table.datagrid tr.footer td {

    color: #505767;
    border-top: 1px solid #DDD;
    padding: 10px 10px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
}
table.datagrid .paginator, table.datagrid .operations, table.datagrid .grid-info {
    padding: 0.6em 1.8em 0.6em 0.1em;
    float: left;
}
table.datagrid .grid-info {
    float: right;
}
table.datagrid .grid-info select {
    padding: 2px;
    width: 50px;
}
table.datagrid .paginator {
    padding: 13px 0px;
}

table.datagrid .paginator a{

    padding: 3px 5px;
    text-decoration: none;
}
table.datagrid .paginator a.number {
    margin: 0 2px 0 2px;
    border: 1px solid #ddd;
}
table.datagrid .paginator a.current {
    background: #005580  !important;
    border-color: #000 !important;
    color: #fff !important;
}
table.datagrid .paginator .button {
    padding: 3px 5px;
    display: inline-block;
}
table.datagrid input.datepicker {
    background: white url('/images/datagrid/calendar.gif') no-repeat right !important;
}
table.datagrid input {
    margin-bottom: 3px;
}
