{block #pageTitle}Budovy{/block}


{block #secondaryNav}
<li class="active"><a n:href="default">Přehled</a></li>
<li><a n:href="add">Přidat budovu</a></li>
{/block}


{block content}

<h2>Budovy</h2>
{control buildingsGrid}
